.CoinDetail {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
}

.CoinDetail__title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;

    & img {
        width: 5rem;
    }

    & h1 {
        font-size: 4rem;
        font-weight: 800;
        text-align: center;
    }
}

.CoinDetail__desc {
    padding: 1.2rem;
    font-size: var(--text-lg);
    color: var(--colors-coolGray-400);
    text-align: center;
}
