.Coin {
    background-color: var(--colors-white);
    color: var(--colors-coolGray-800);
    font-size: var(--text-xl);
    border-radius: 0.8rem;
    padding: 1.2rem;
    text-transform: capitalize;
    font-weight: 700;
    transition: background-color 0.3s ease-in-out;

    & svg {
        fill: var(--colors-coolGray-500);
        transition: fill 0.3s ease-in-out;
    }

    &:hover {
        & {
            background-color: var(--colors-indigo-50);
        }
        & svg {
            fill: var(--colors-indigo-500);
        }
    }

    a {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
