.CoinDetail__title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.CoinDetail__logoImg {
    width: 5rem;
}

.CoinDetail__name {
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
}

.CoinDetail__desc {
    padding: 1.2rem;
    font-size: var(--text-lg);
    color: var(--colors-coolGray-400);
    text-align: center;
    white-space: pre-wrap;
}

.CoinDetail__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    margin: 2rem 0;
}
