.LinkButton {
    width: 4rem;

    &:hover {
        & svg {
            scale: 1.1;
            transition: scale 0.4s;
        }
    }
    & svg {
        width: 100%;
        height: 100%;
    }
}
